@import "./Color/Color.css";
/* @import "./Fonts/fonts.css"; */
@import "./Common/Common.css";
@import "./Layout/Layout.css";

.topLogo {
  position: absolute;
  top: 37px;
  left: 20px;
  z-index: 1;
}
